html{
    font-size: 16px;
    font-family: sans-serif; /* tipo de fuente */
}
body{
    background-color: rgb(46, 48, 70);
}
/* aplicar estilos a la clase="contenedor" */
.contenedor{
    max-width: 450px;
    height: auto;
    background-color: lightblue;
    margin:5% auto; /* centrar contenedor en documento web */
    padding-bottom: 16px;
}
header{
    width: 100%;
    text-align: center; /* centrar texto */
    padding: 10px 0 5px;
    border-top: solid 8px black;
    margin-bottom: 5px;
}
header h2{
    font-weight: bold; /* negrilla */
    color: black;
    font-size: 18px; /* tamaño de fuente */
}
.form_register{
    padding: 0 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* aliniar horizontal mas lejano */
    align-content: center; /* aliniar vertical */
    background-color: silver;
}
.btn_accion{
    display: flex;
    justify-content: space-around; /* aliniar horizontal mas cercano */
    margin-top: 16px;
}
input, .btn_enviar, .btn_limpiar{
    background-color: whitesmoke;
    padding: 8px;
    margin: 8px 0;
    outline: none; /*pintar border de color negro */
    transition: all .5s; /* efecto de animacion en delay */
}
.btn_enviar, .btn_limpiar{
    width: 40%;
    border-radius: 25px; /*bordes rondeados */
    background-color: rgb(143, 218, 248);
    color: white;
    margin-left: 25px;
}
/* evento de un css focus es al dar click en el control form */
input:focus{
    background-color: lightcoral;
    border-color: rgb(26, 1, 255);
}
#terminos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}